.counters {
    padding: 5% 0;
    background-color: rgb(250, 204, 0);
  }
  
  .counters ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
  }
  
  .counters li {
    width: 25%;
    text-align: center;
  }
  
  .counters li span {
    display: block;
    color: #000;
    text-align: center;
    font-family: 'Montserrat';
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase; 
  }
  
  .counter {
    padding-bottom: 5%;
    text-shadow: 5px 10px 18px rgba(0,0,0,0.9);
  }
  
  .counters li span:last-child { 
    font-family: 'edosz';
    font-weight: 500;
  }
  
  .counters li span:first-child { 
    cursor: pointer;
  }